body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:burlywood;
}
 h1{   
background-color: #ffcc00;
padding: 15px;
font-size: 24px;
}
section {
    margin: 20px;
}

#menu-list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-item {
    border: 3px dotted chocolate;
    padding: 10px;
    width: 200px;
}

.menu-item img {
    width: 100%;
    border-bottom: chocolate 1px dotted;
    height: 150px;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

input, button {
    margin: 5px;
    padding: 8px;
}

button {
    background-color: #ff6600;
    color: rgb(111, 106, 212);
    cursor: pointer;
    border-radius: 50%;
    border:blue 3px solid;
}

button:hover {
    background-color: #ff3300;
    border-radius: 50%;
}
footer {
    background-color: brown;
    padding: 15px;
    font-size: 18px;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    border: 3px dotted orange;
    background-color: aquamarine;

}